<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190521853341-daoidlsn25eic75cvo2rrpp2c4gmrcpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190521853341-daoidlsn25eic75cvo2rrpp2c4gmrcpe</string>
	<key>API_KEY</key>
	<string>AIzaSyBZgoJYFZVIIZVpz4RPq1rBtWtGnGX8PhU</string>
	<key>GCM_SENDER_ID</key>
	<string>190521853341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benny.ForumApp</string>
	<key>PROJECT_ID</key>
	<string>hackeru2022</string>
	<key>STORAGE_BUCKET</key>
	<string>hackeru2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190521853341:ios:00bf7a7cfeba988d219b74</string>
	<key>DATABASE_URL</key>
	<string>https://hackeru2022-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>